<!DOCTYPE html>
<html>
  <head>
    <title>Trash Cash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('../../components/header') %>

    <div
      class="container items-center justify-center flex gap-[150px] mx-auto py-9"
    >
      <div
        class="flex-shrink-0 w-[500px] relative mb-12 flex flex-col overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
      >
        <img
          alt="nature"
          class="h-[32rem] w-full object-cover object-center"
          src="/about-image.png"
        />
      </div>

      <div class="w-[500px]">
        <h2
          class="mb-5 block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-blue-gray-900 antialiased"
        >
          🤔 What is Trash Cash?
        </h2>
        <p
          class="block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased"
        >
          Trash Cash is a platform that enables users to easily sell their trash
          to interested buyers. It connects sellers with potential buyers,
          allowing them to list and negotiate prices for recyclable materials,
          reusable items, and other types of waste. By promoting recycling and
          reducing waste, Trash Cash fosters environmental responsibility while
          providing a platform for individuals to generate income from their
          discarded items.
        </p>
      </div>
    </div>

    <%- include('../../components/footer') %>
  </body>
</html>
