<!DOCTYPE html>
<html>
  <head>
    <title>Trash Cash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('../../components/header') %>

    <section class="container mx-auto p-9">
      <div
        class="bg-[url('banner-background.png')] bg-center w-full h-[500px] relative mb-12 flex flex-col items-center justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
      >
        <h2 class="text-[45px] text-white font-bold mb-9">
          Sell Your Trash, Get Your Cash
        </h2>

        <a href="/login">
          <button
            class="middle none center hidden rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-400/25 transition-all hover:shadow-lg hover:shadow-green-400/50 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
            type="button"
            data-ripple-light="true"
          >
            <span>Sell your trash!</span>
          </button>
        </a>
      </div>
    </section>

    <section class="container mx-auto px-9 py-3 mb-9">
      <h2 class="text-[30px] text-center font-bold mb-3">Trash Around You!</h2>
      <p class="text-center mb-6">
        Trash around you? ofcourse many cash around you 💰
      </p>

      <div
        class="relative flex h-10 w-full min-w-[200px] max-w-[24rem] mx-auto"
      >
        <input
          type="text"
          class="peer h-full w-full rounded-[7px] border border-blue-gray-200 border-t-transparent bg-transparent px-3 py-2.5 pr-20 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-green-500 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
          placeholder=" "
          required
        />
        <button
          class="!absolute right-1 top-1 z-10 select-none rounded bg-green-500 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none peer-placeholder-shown:pointer-events-none peer-placeholder-shown:bg-blue-gray-500 peer-placeholder-shown:opacity-50 peer-placeholder-shown:shadow-none"
          type="button"
          data-ripple-light="true"
        >
          Search
        </button>
        <label
          class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-green-500 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-green-500 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-green-500 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
        >
          Search Trash
        </label>
      </div>

      <div class="flex justify-center gap-10 mt-20">
        <div
          class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
        >
          <div
            class="relative mx-4 -mt-6 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <img
              src="https://images.unsplash.com/photo-1595278069441-2cf29f8005a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
              alt="img-blur-shadow"
              layout="fill"
            />
          </div>
          <div class="p-6">
            <div
              class="bg-green-400 inline-block text-white py-[2px] px-[10px] rounded-lg mb-3"
            >
              Plastic
            </div>
            <h5
              class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
            >
              Sampah Plastik Siap Daur Ulang
            </h5>
            <p
              class="block font-sans text-base font-light leading-relaxed text-inherit antialiased"
            >
              Mulai dari Rp50.0000
            </p>
          </div>
          <div class="p-6 pt-0">
            <button
              class="select-none rounded-lg bg-green-600 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-400/20 transition-all hover:shadow-lg hover:shadow-green-400/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>

        <div
          class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
        >
          <div
            class="relative mx-4 -mt-6 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <img
              src="https://images.unsplash.com/photo-1595278069441-2cf29f8005a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
              alt="img-blur-shadow"
              layout="fill"
            />
          </div>
          <div class="p-6">
            <div
              class="bg-green-400 inline-block text-white py-[2px] px-[10px] rounded-lg mb-3"
            >
              Plastic
            </div>
            <h5
              class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
            >
              Sampah Plastik Siap Daur Ulang
            </h5>
            <p
              class="block font-sans text-base font-light leading-relaxed text-inherit antialiased"
            >
              Mulai dari Rp50.0000
            </p>
          </div>
          <div class="p-6 pt-0">
            <button
              class="select-none rounded-lg bg-green-600 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-400/20 transition-all hover:shadow-lg hover:shadow-green-400/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>

        <div
          class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
        >
          <div
            class="relative mx-4 -mt-6 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40"
          >
            <img
              src="https://images.unsplash.com/photo-1595278069441-2cf29f8005a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
              alt="img-blur-shadow"
              layout="fill"
            />
          </div>
          <div class="p-6">
            <div
              class="bg-green-400 inline-block text-white py-[2px] px-[10px] rounded-lg mb-3"
            >
              Plastic
            </div>
            <h5
              class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
            >
              Sampah Plastik Siap Daur Ulang
            </h5>
            <p
              class="block font-sans text-base font-light leading-relaxed text-inherit antialiased"
            >
              Mulai dari Rp50.0000
            </p>
          </div>
          <div class="p-6 pt-0">
            <button
              class="select-none rounded-lg bg-green-600 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-400/20 transition-all hover:shadow-lg hover:shadow-green-400/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../components/footer') %>
  </body>
</html>
