<footer
  class="border-blue-gray-50 border-t container flex flex-row flex-wrap gap-x-12 gap-y-6 items-center justify-center mx-auto px-9 py-6 text-center w-full md:justify-between"
>
  <p
    class="antialiased block font-sans font-normal leading-relaxed text-base text-blue-gray-900"
  >
    © <%= new Date().getFullYear() %> Trash Cash
  </p>
  <ul class="flex flex-wrap gap-x-8 gap-y-2 items-center">
    <li>
      <a
        href="/"
        class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-green-500 focus:text-green-500"
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/about"
        class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-green-500 focus:text-green-500"
      >
        About
      </a>
    </li>
  </ul>
</footer>
