<footer
  class="container px-9 mx-auto flex w-full flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 border-t border-blue-gray-50 py-6 text-center md:justify-between"
>
  <p
    class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased"
  >
    © 2023 Trash Cash
  </p>
  <ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
    <li>
      <a
        href="/"
        class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-green-500 focus:text-green-500"
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/about"
        class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-green-500 focus:text-green-500"
      >
        About
      </a>
    </li>
  </ul>
</footer>
